html,body{
    height: 100%;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 25px;
}

/* Слайдер */
.slick-slider{

}

/* Слайдер запущен */
.slick-slider.slick-initialized{}

/* Слайдер с точками */
.slick-slider.slick-dotted{}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
}

/* Слайд */
.slick-slide{}

/* Слайд активный (показывается) */
.slick-slide.slick-active{}

/* Слайд основной */
.slick-slide.slick-current{}

/* Слайд по центру */
.slick-slide.slick-center{}

/* Клонированный слайд */
.slick-slide.slick-cloned{}

/* Стрелка */
.slick-arrow{}

/* Стрелка влево */
.slick-arrow.slick-prev{}

/* Стрелка вправо */
.slick-arrow.slick-next{}

/* Стрелка не активная */
.slider .slick-arrow.slick-disabled{
opacity: 0;
}

.slider{
    position: relative;
padding: 0px 60px;
}

.slider .slick-arrow{
    position: absolute;
    margin: -30px 0px 0px 0px;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 50px;
    height: 50px;
}


.slider .slick-arrow.slick-prev{
    left: 0;
    background: url('../img/l.png') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next{
    right: 0;
    background: url('../img/r.png') 0 0 /100% no-repeat;
}

.slider__item{
transition: all 0.3s ease 0s;
opacity:1;
text-align: center;
/*height: 512px;*/
}

.slider__item.slick-center{
    opacity: 1;
}

/* Точки (булиты) */
.slider .slick-dots{
display: flex;
align-items: center;
justify-content: center;
}

.slider .slick-dots li{
    list-style: none;
    margin: 0px 10px;
}

/* Активная точка */
.slider .slick-dots li.slick-active button{
background-color: #0cb172;
border: 1px solid #0d832a;
}

/* Элемент точки */
.slider .slick-dots li button{
font-size: 0;
width: 10px;
height: 15px;
background-color: #fff;
border-radius: 50%;
}

/*.slider .slick-track{
    display: block;
}*/




.sliderbig{}

.sliderbig__item{
    text-align: center;
}